/* work sans font from google fonts */
/* @... */

/* Shared Styles */
/*
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'work Sans', sans-serif;
}
*/
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
}

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
    font-family: "Work Sans", sans-serif;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
}

.aguafina-script-regular {
    font-family: "Aguafina Script", cursive;

}

.text-light-gray {
    color: #727272;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    padding: 20px 25px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;

}


.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

header {
    background: rgba(255, 144, 14, 0.10);
    /*  background-color: #FF900E1A; */
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    /*    text-align: center; */
    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 500;
}

.banner-content {
    max-width: 700px;

    text-align: center;
    /*  font-family: "Work Sans"; */
    font-size: 28px;
    /*  font-weight: 700; */
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img {
    margin-top: 20px;
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 24px; */
    gap: 1.5rem;

}

.teams-text-container {
    padding-left: 70px;
    padding-right: 70px;

}

.teams-text-title {
    /*  width: 468px; */
    font-size: 2.8rem;

}

.teams-text-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-text-title .of-our {
    color: #131313;
    font-weight: 700;

}

.teams-text-title .features {
    color: #FF900E;
    font-weight: 700;
}

/* 2nd feature section style */
.features_2nd {
    margin-top: 130px;
    display: flex;
    gap: 146px;
}

.features_2nd .section-title2 {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature_content2 .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature_image2 img{
    height: 97%;
    margin-left: 180px;
}

.ten-years-experience {
    width: 342px;
      
    color: #FFF;
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 150px;
}

.ten-years-experience h2{
    font-size: 4rem;
    margin: 0;
}

.ten-years-experience p{
    font-size: 1.5rem;
}


/* fact section */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 30px;
    /* padding: 40px 30px; */
}

.facts-card-container .card-title {
    font-weight: 6oo;
    font-size: 1.25rem;
    margin-top: 10px;

}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors styles */
.sponsors {
    text-align: center;

}

.sponsors-section-title {
    color: #131313;

    font-size: 45px;

    font-weight: 700;

}

.sponsors-image-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;

}

.footer-comment {
    max-width: 1440px;
    margin: 70px auto;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    padding-top: 50px;
    padding-bottom: 50px;
    /*  margin-top: 40px;
    margin-bottom: 40px; */

}

.footer-text {
    color: #424242;
    text-align: center;
    font-size: 25px;

}




/* responsive media queries */
/* Mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features_2nd,
    .facts-card-container,
    .sponsors-image-container {
      flex-direction: column;
    }

    .feature_image2{
        width:90%;
        margin-left: 0;
    }
.ten-years-experience{
    position: static;
    max-width: 300px;
}

    .teams-image-container {
        grid-template-columns: 1fr;
    }

    .teams-text-container,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
        /* gap: 5px; */
    }

    .facts-card-container {
        gap: 20px;
    }

    .sponsors-image-container {
        gap: 20px;
    }

}

/* tab and laptop and midiam devices  */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav,
    .feafeature_image2,
    .teams-container,
    .sponsors-image-container {
        flex-direction: column;
    }
}